<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration>

  <!-- For console log -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
             value="%d{yyyyMMddHHmmss} %-5p%c{2} [%X]: %m%n" />
    </layout>
  </appender>

  <!-- For rolling file log -->
  <appender name="RUN_LOG"
            class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/data/nginx/logs/run.log" />
    <param name="Append" value="true" />
    <param name="Threshold" value="info" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMddHHmmss} %-5p%c{2}: %m%n" />
    </layout>
  </appender>

  <root>
    <priority value="info" />
    <appender-ref ref="RUN_LOG" />
  </root>
</log4j:configuration>
